<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-weight-bold">
        <span
          *ngFor="let letter of randomSentence.split(''); let i = index"
          [class]="getClass(i)"
          >{{ letter }}</span
        >
      </p>
      <div class="field">
        <input
          type="text"
          class="input"
          [value]="userInput"
          (input)="handleInput($event)"
        />
      </div>
      <div *ngIf="isCorrect" class="boc has-text-centered">
        <h1 class="title">Congrats</h1>
      </div>
    </div>
  </div>
</div>
